.footer-card {
    background: #f0f8ff;
    padding: 32px 0 8px 8px;
}

.footer-img {
    width: 200px;
    height: 100px;
}

.img-social{
    margin: 10px;
}

.trademark{
    margin: auto;
    width: 80px;
    padding: 32px 0;
}