.banner-container img{

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.banner-container {
    margin-top: 10px;
}

.product-dashboard {
    margin-top: 10px;
    font-weight: 500;
    font-size: 22px;
}




